<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela CNPJ</title>
    <link type="text/css" rel="stylesheet" href="/css/cnpjs-crud.css"/>
    <link rel="icon" type="image/x-icon" href="/images/controller.ico">
    <script src="/js/cnpj-crud-js.js" defer></script>
</head>
<body>
    <div class="conteiner">
        <div class="home-icon">
            <a href="/logout">
                <img  src="./images/logout.png">
            </a>
            LOGOUT
        </div>
        <div class="headers-conteiner">
            <ul class="headers">
                <li class="li-id">ID</li>
                <li class="li-status">STATUS</li>
                <li class="li-cnpj">CNPJ</li>
                <li class="li-ccp">CCP</li>
                <li class="li-mun ">MUNICÍPIO</li>
                <li class="li-name">RAZÃO SOCIAL</li>
            </ul>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <button id="button-new">INSERIR NOVO</button>
                </li>
                <li>
                    <button id="button-update">ALTERAR</button>
                </li>
                <li>
                    <button id="button-delete">DELETAR</button>
                </li>
                <li>
                    <button id="button-toggle-status">ATIVAR/INATIVAR</button>
                </li>
            </ul>
        </div>
        <table>
            <tbody>
                <% if(results.length > 0) { %>
                    <% for (let i = 0; i <= results.length - 1; i++) { %>
                        <% let item = results[i] %>
                        <% let cnpjCpfFormatted = "" %>
                        <% if (item.CNPJ.length === 14) { %>
                            <% cnpjCpfFormatted = `${item.CNPJ.substring(0,2)}.${item.CNPJ.substring(2,5)}.${item.CNPJ.substring(5,8)}/${item.CNPJ.substring(8,12)}-${item.CNPJ.substring(12,14)}` %>
                        <% } else { %>
                            <% cnpjCpfFormatted = `${item.CNPJ.substring(0,3)}.${item.CNPJ.substring(3,6)}.${item.CNPJ.substring(6,9)}-${item.CNPJ.substring(9,11)}` %>
                        <% } %>
                        <tr data-id=<%= item.ID %> class=<%= i % 2 === 0 ? "even" : "odd" %>>
                            <td class="td-id"><%= item.ID %></td>
                            <td class="td-status"><%= item.STATUS === 1 ? "ATIVO" : "INATIVO" %></td>
                            <td class="td-cnpj"><%= cnpjCpfFormatted %></td>
                            <td class="td-ccp"><%= item.CCP_NUMBER && item.CCP_NUMBER !== "NULL"? item.CCP_NUMBER : "----------" %></td>
                            <td class="td-mun"><%= item.MUNICIPIO %></td>
                            <td class="td-name"><%= item.NOME_EMPRESA %></td>
                        </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td class="no-items" colspan="3">Sem itens para listar.</td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="overlay-form" style="display:none">
            <form id="form">
                <button class="close-form" type="button">X</button>
                <label>CNPJ/CPF</label><input type="text" maxlength="14" pattern="[0-9]{11,14}" id="cnpj" data-id="" required/>
                <label>RAZÃO SOCIAL</label><input type="text" maxlength="50" id="name" required/>
                <label>MUNICÍPIO</label><input type="text" maxlength="15" id="municipio" required/>
                <label>CCP</label><input type="text" maxlength="6" id="ccp-number" pattern="[0-9]{0,6}"/>
                <button type="submit">GRAVAR</button>
            </form>
        </div>
        <div class="overlay-message hide">
            <button class="close-message" type="button">X</button>
            <div>
                <div id="success" class="hide">
                    <p>Operação concluída com sucesso!</p>
                </div>
                <div id="error" class="hide"></div>
            </div>
        </div>
    </div>
</body>
</html>
