<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta CNPJ</title>
    <link type="text/css" rel="stylesheet" href="/css/consulta-tpi.css"/>
    <link rel="icon" type="image/x-icon" href="/images/controller.ico">
    <script src="/js/consulta-tpi-js.js" defer></script>
</head>
<body>
    <div class="bg-white">
        <ul class="legenda">
            <li>
                <div class="home-icon">
                    <a href="/">
                        <img  src="./images/home.png">
                    </a>
                    HOME
                </div>
            </li>
            <li>LEGENDA:</li>
            <li><div class="legenda-green"></div>PAGOS</li>
            <li><div class="legenda-red"></div>VENCIDOS</li>
            <li><div class="legenda-yellow"></div>VENCENDO NESTE MÊS</li>
            <li><div class="legenda-blue"></div>VENCIMENTO FUTURO</li>
            <li><div class="legenda-gray"></div>ISENTOS</li>
            <li><div class="legenda-black"></div>SEM REGISTROS</li>
            <li><div class="legenda-orange"></div>FALHAS</li>
        </ul>
        <ul class="fixed-headers">
            <li class="col1" data-totalcnpj="">CNPJ</li>
            <li class="col2">RAZÃO SOCIAL</li>
            <li class="col3">MUNICÍPIO <span class="arrow" id="municipio-arrow">&#8249</span></li>
            <li class="col4" data-totalstatus="">STATUS TPI <span class="arrow" id="status-arrow">&#8249</span></li>
        </ul>
    </div>
    <div class="conteiner">
        <% let statusOptions = [] %>
        <% let municipioOptions = [] %>
        <% for (let i = 0; i < cnpjs.length; i++) { %>
            <% const cnpj = cnpjs[i].cpf_cnpj %>
            <% const nomeEmpresa = cnpjs[i].nome_empresa %>
            <% const idComentario = cnpjs[i].comment_id %>
            <% const textoComentario = cnpjs[i].comment_text %>
            <% const municipio = cnpjs[i].municipio %>
            <% const id = cnpjs[i].id %>
            <% const yearsSent = cnpjs[i].sent  %>
            <% const sem_registro = cnpjs[i].sem_registro  %>
            <% const failed = cnpjs[i].failed  %>
            <% const debits = cnpjs[i].debits  %>
            <% let cnpjCpfFormatted = "" %>
            <% if(!municipioOptions.includes(municipio)) {municipioOptions.push(municipio)} %>      
            <ul class="cnpj" style="display: flex;" id=<%= cnpj %> data-id=<%= id %>>
                 <% if (cnpj.length === 14) { %>
                            <% cnpjCpfFormatted = `${cnpj.substring(0,2)}.${cnpj.substring(2,5)}.${cnpj.substring(5,8)}/${cnpj.substring(8,12)}-${cnpj.substring(12,14)}` %>
                        <% } else { %>
                            <% cnpjCpfFormatted = `${cnpj.substring(0,3)}.${cnpj.substring(3,6)}.${cnpj.substring(6,9)}-${cnpj.substring(9,11)}` %>
                        <% } %>
                <li class="cnpj-left">
                    <ul>
                        <li>
                            <button type="button" class="update">
                                <img src="/images/update.png"/>
                            </button>
                            <%= cnpjCpfFormatted %>
                        </li>
                    </ul>
                </li>
                <li class="cnpj-center">
                    <%= nomeEmpresa %>
                    <% if (idComentario && textoComentario) { %>
                        <div 
                            class="comments"
                            data-comment="<%= textoComentario %>">
                                <img src="/images/text-box.png">
                        </div>
                    <% } %>
                </li>
                <li class="cnpj-mun"><%= municipio %></li>
                <li>
                    <ul class="status" id=<%= id %>>
                        <% if (sem_registro) { %>
                            <li class="no-register" style="display: inline-flex;"><span>SEM REGISTRO</span></li>
                            <% if(!statusOptions.includes("SEM REGISTROS")) { statusOptions.push("SEM REGISTROS") } %>   
                        <% } else if (failed) { %>
                            <li class="failure" style="display: inline-flex;"><span>FALHA AO BUSCAR DADOS</span></li>
                            <% if(!statusOptions.includes("FALHAS")) { statusOptions.push("FALHAS") } %> 
                        <% } else { %>
                            <% for (let i = 0; i < debits.length; i++) { %>
                                <% const situacao = debits[i].situacao %>
                                <% const data_vencimento = debits[i].data_vencimento %>
                                <% const codigo_barras = debits[i].codigo_barras %>
                                <% const ano_prestacao = debits[i].ano_prestacao %>
                                <% if (situacao == "PAGO" || situacao == "ISENTO") { %>
                                    <% const status = situacao == "PAGO" ? "PAGOS" : "ISENTOS" %>
                                    <li style="display: inline-flex;" class=<%= situacao.toLowerCase() %>>
                                        <span data-title=<%= data_vencimento %> 
                                        data-barcode=<%= situacao == "PAGO" ? codigo_barras : "" %>>
                                            <%= ano_prestacao %> 
                                        </span>
                                    </li>
                                    <% if(!statusOptions.includes(status)) {statusOptions.push(status)} %> 
                                <% } else { %>
                                    <% const itemDateArray = data_vencimento.split("/") %>
                                    <% const itemDate = new Date(itemDateArray[2], itemDateArray[1] - 1, itemDateArray[0]) %>
                                    <% const date = new Date() %>
                                    <% const currentDay = date.getDate() %>
                                    <% const currentMonth = date.getMonth() %>
                                    <% const currentYear = date.getFullYear() %>
                                    <% const today = new Date(currentYear, currentMonth, currentDay) %>
                                    <% const lastDayMonth = new Date(currentYear, currentMonth + 1, 0) %>
                                    <% const expire = itemDate - today < 0 ? "vencido" : lastDayMonth - itemDate >= 0 ? "vencer-mes" : "vencer-futuro" %>
                                    <% const status = expire == "vencido" ? "VENCIDOS" : expire == "vencer-mes" ? "VENCENDO NESTE MÊS" : "VENCIMENTO FUTURO" %>
                                    <li 
                                        style="display: inline-flex;"
                                        class='<%= yearsSent && yearsSent.includes(ano_prestacao) ? expire + " sent" : expire %>'>
                                        <span 
                                        data-title=<%= data_vencimento %>>
                                            <%= ano_prestacao %>
                                        </span>
                                        <% if(!statusOptions.includes(status)) {statusOptions.push(status)} %>
                                    </li>
                                <% } %>
                            <% } %>
                        <% } %>
                    </ul>
                </li>
            </ul>
        <% } %>
        <ul id="no-items" style=<%= cnpjs.length === 0 ? "display:flex;" : "display:none;" %>>
            <li>Não há itens para exibir.</li>
        </ul> 
    </div>
    <div id="status-filter" style="display: none;">
        <div class="options-list">
            <% for(item of statusOptions) { %>
                <% let value = "" %>
                <% switch (item) {
                    case "PAGOS": %>
                        <% value = "pago" %>
                  <% break;
                    case "VENCIDOS": %>
                        <% value = "vencido" %>
                  <% break;
                    case "VENCENDO NESTE MÊS": %>
                        <% value = "vencer-mes" %>
                  <% break;
                    case "VENCIMENTO FUTURO": %>
                        <% value = "vencer-futuro" %>
                  <% break;
                    case "SEM REGISTROS": %>
                        <% value = "no-register" %>
                 <% break;
                    case "FALHAS": %>
                        <% value = "failure" %>
                <% break;
                    case "ISENTOS": %>
                        <% value = "isento" %>
                <% break; } %>
                <div>
                    <input type="checkbox" value=<%= value %> class="status-option" checked="checked"/>
                    <label><%= item %></label>
                </div>
            <% } %>
        </div>
        <div class="mark-unmark-div">
            <input type="checkbox" class="mark-unmark" checked="checked"/>
            <label id="status-mark-unmark-label">DESMARCAR TODOS</label>
        </div>
        <div id="div-button">
            <button type="button" id="status-filter-button">FILTRAR</button>
        </div>
    </div>
    <div id="municipio-filter" style="display: none;">
        <div class="options-list">
            <% for(item of municipioOptions) { %>
                <div>
                    <input type="checkbox" value="<%= item %>" class="municipio-option" checked="checked"/>
                    <label><%= item %></label>
                </div>
            <% } %>
        </div>
        <div class="mark-unmark-div">
            <input type="checkbox" class="mark-unmark" checked="checked"/>
            <label id="municipio-mark-unmark-label">DESMARCAR TODOS</label>
        </div>
        <div id="div-button">
            <button type="button" id="municipio-filter-button">FILTRAR</button>
        </div>
    </div>
</body>
</html>