<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta CCP</title>
    <link type="text/css" rel="stylesheet" href="/css/consulta-ccp.css"/>
    <link rel="icon" type="image/x-icon" href="/images/controller.ico">
    <script src="/js/consulta-ccp-js.js" defer></script>
</head>
<body>
    <div class="home-icon">
        <a href="/">
            <img  src="./images/home.png">
        </a>
        HOME
    </div>
    <table id="main-table">
        <thead>
            <% let totalStatus = 0 %>
            <tr>
                <th class="th-left" data-totalcnpj="">CNPJ</th>
                <th class="th-center">RAZÃO SOCIAL</th>
                <th class="th-mun">MUNICÍPIO<span id="filter-municipio" class="arrow">&#8249</span></th>
                <th class="th-right" data-totalstatus="">STATUS<span id="filter-status" class="arrow">&#8249</span></th>
            </tr>
        </thead>
        <tbody>
            <% let statusList = [] %>
            <% let municipioList = [] %>
            <% for (let i=0; i <= results.length-1; i++) { %>
                <% if(!municipioList.includes(results[i].municipio)) { %>
                    <% municipioList.push(results[i].municipio) %>
                <% } %>
                <tr class="row" style="display: table-row;">
                     <% if (results[i].cnpj.length === 14) { %>
                            <% cnpjCpfFormatted = `${results[i].cnpj.substring(0,2)}.${results[i].cnpj.substring(2,5)}.${results[i].cnpj.substring(5,8)}/${results[i].cnpj.substring(8,12)}-${results[i].cnpj.substring(12,14)}` %>
                        <% } else { %>
                            <% cnpjCpfFormatted = `${results[i].cnpj.substring(0,3)}.${results[i].cnpj.substring(3,6)}.${results[i].cnpj.substring(6,9)}-${results[i].cnpj.substring(9,11)}` %>
                        <% } %>
                    <td class="td-left"><%= cnpjCpfFormatted %></td>
                    <td class="td-center"><%= results[i].nome_empresa %></td>
                    <td class="td-mun"><%= results[i].municipio %></td>
                    <td class="td-right">
                        <ul class="status-years">
                            <% if (results[i].no_ccp_number) { %>
                                <li class="no-ccp" style="display: flex;">SEM CCP CADASTRADO</li>
                                <% if (!statusList.includes("no-ccp")) {statusList.push("no-ccp")} %>
                            <% } else if (results[i].failure) { %>
                                <li class="failure" style="display: flex;">FALHA AO BUSCAR DADOS</li>
                                <% if (!statusList.includes("failure")) {statusList.push("failure")} %>
                            <% } else { %>
                                <% if(results[i].listaRetorno.length > 0) { %>
                                    <% for (item of results[i].listaRetorno) { %>
                                        <% let date = item.vencimento.split("-") %>
                                        <% let formattedDate = date[2] + "/" + date[1] + "/" + date[0] %>
					                    <% let formattedText = item.receita.replaceAll(".", "").toUpperCase() %>
                                        <li class="pending" style="display: flex;" data-content="<%= formattedText + "   " + formattedDate %>">
                                            <%= formattedText.substring(0, 3) %>
                                            <% if (!statusList.includes("pending")) {statusList.push("pending")} %>
                                        </li>
                                    <% } %>
                                <% } else { %>
                                    <li class="no-pendencies" style="display: flex;">SEM PENDÊNCIAS</li>
                                    <% if (!statusList.includes("no-pendencies")) {statusList.push("no-pendencies")} %>
                                <% } %>
                            <% } %>
                        </ul>
                    </td>
                </tr>
            <% } %>
            <tr id="no-items" style=<%= results.length !== 0 ? "display:none;" : "display:table-row;"%>>
                <td colspan="3">Não há itens para exibir.</td>
            </tr> 
        </tbody>
    </table>
    <div id="status-filter" style="display: none;">
        <div class="div-options">
            <% for (let i = 0; i <= statusList.length - 1; i++) { %>
                <div>
                    <input 
                        type="checkbox" value="<%= statusList[i] %>"
                        class="status-option" checked="checked"/>
                    <% if(statusList[i] === "failure") { %>
                        <label>FALHA</label>
                    <% } else if(statusList[i] === "no-pendencies") { %>
                        <label>SEM PENDÊNCIAS</label>
                    <% } else if(statusList[i] === "pending") { %>
                        <label>PENDENTES</label>
                    <% } else if(statusList[i] === "no-ccp") { %>
                        <label>SEM CCP</label>
                    <% } %>
                </div>
            <% } %>
        </div>
        <div class="mark-unmark-div">
            <input type="checkbox" class="mark-unmark" checked="checked"/>
            <label id="status-mark-unmark-label">DESMARCAR TODOS</label>
        </div>
        <div id="status-button">
            <button type="button" id="status-filter-button">FILTRAR</button>
        </div>
    </div>
    <div id="municipio-filter" style="display: none;">
        <div class="div-options">
            <% for (let i = 0; i <= municipioList.length - 1; i++) { %>
                <div>
                    <input 
                        type="checkbox" value="<%= municipioList[i] %>"
                        class="municipio-option" checked="checked"/>
                    <label><%= municipioList[i] %></label>
                </div>
            <% } %>
        </div>
        <div class="mark-unmark-div">
            <input type="checkbox" class="mark-unmark" checked="checked"/>
            <label id="municipio-mark-unmark-label">DESMARCAR TODOS</label>
        </div>
        <div id="municipio-button">
            <button type="button" id="municipio-filter-button">FILTRAR</button>
        </div>
    </div>
    <div>

    </div>
</body>
</html>